@import url("https://farsifont.github.io/css/iranyekan.css");
@import url("https://farsifont.github.io/css/iranyekan-farsi-numbers.css");
@import url(../css/style.css);
/* colors */

:root{
    --blue:#02a9f0;
    --blue100:#cce3f1;
    --blue900:#2f59a5;
    --gray:#979797;
    --gray100:#bbb;
}


/* global */
.text-blue900{
    color:var(--blue900)
}
.text-blue {
    color:var(--blue)
}
.text-gray{
    color:var(--gray)
}
.bg-blue900{
    background-color:var(--blue900)
}
.bg-blue {
    background-color:var(--blue)
}
.bg-gray{
    background-color:var(--gray)
}
.bg-gray100 {
    background-color:  var(--gray100);
}
.bg-blue100{
    background-color: #cce3f1;
}
.text-xs{
    font-size: 12px;
}
.fs-7 {
    font-size: 0.825rem;
}
.text-justify{
    text-align: justify;
}
.text-shadow-md{ 
    text-shadow: 0 0 12px #000;
}