/* @import url("https://farsifont.github.io/css/iranyekan.css"); */
/* @import url("https://farsifont.github.io/css/iranyekan-farsi-numbers.css"); */
@import url(../css/style.css);

/* Font */
@font-face {
    font-family: 'FontMan';
    src: url('../font/BNazanin.ttf') format('truetype'),
        url('../font/BNazanin.woff') format('woff'),
}

body *, * *{
    font-family: FontMan;
}
/* colors */
:root{
    --blue:#02a9f0;
    --blue100:#cce3f1;
    --blue900:#2f50a1;
    --blue900-hover:#2f59a5;
    --gray:#979797;
    --gray100:#bbb;
}

*{
  transition: background 0.2s;  
}
/* global */
.text-blue900{
    color:var(--blue900)
}
.text-blue {
    color:var(--blue)
}
.text-gray{
    color:var(--gray)
}
.bg-blue900{
    background-color:var(--blue900)
}
.bg-blue900:hover{
    background-color: var(--blue900-hover)
}
.bg-blue {
    background-color:var(--blue)
}
.bg-gray{
    background-color:var(--gray)
}
.bg-gray100 {
    background-color:  var(--gray100);
}
.bg-blue100{
    background-color: #cce3f1;
}
.text-xs{
    font-size: 12px;
}
.fs-7 {
    font-size: 0.825rem;
}
.text-justify{
    text-align: justify;
}
.text-shadow-md{ 
    text-shadow: 0 0 12px #000;
}
.footer-bar{
    height: 28px;
    margin-bottom: 16px;
}
.footer-bar img {
    width: 100%;
    position: absolute;
    height: 40px;
    inset: 0;
}