/* informatics */
#intro{
    height: 100vh;
    height: 100svh;
    padding-block: 15%;
}
#solutions .links-box .link-box{
    min-width: 110px;
    max-width: 110px;
    min-height: 98px;
    max-height: 98px;
    transition: 0.2s;
}
#solutions .links-box .link-box.active,
#solutions .links-box .link-box:hover {
    background-color: var(--blue);
}

.h5847{
    height: 1px;
}
.description-step-box p {
    column-count: 2;
    column-gap: 32px;
    max-height: 210px;
    column-fill: auto;
    text-align: justify;
    line-height: 25px;
}
.tabs{
    min-height: 300px;
}
.tabs .steps-card .steps-box .steps-items.active *{
    color: var(--blue) !important;

}
.tabs .steps-card .steps-box .steps-items.active .border-bottom{
    border-bottom: 1px solid var(--blue);
}
/* end informatics */
@media (max-width: 768px) {
    #intro {
            padding-block: 30%;
        }
    body .description-step-box p {
        column-count: 1;
        max-height: max-content;
    }
}