/* informatics */
#intro{
    height: 100vh;
    height: 100svh;
    padding-block: 18%;
}
.img-container{
    z-index: 2;
}
.img-container::after {
    content: " ";
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background: linear-gradient(-90deg, #0188bb 0%, transparent 84%)
}
.links-box .link-box{
    width: 200px;
    height: 200px;
    transition: 0.2s;
}
.links-box .link-box *{
    font-size: 1.7rem ;
}
.links-box .link-box.active,
.links-box .link-box:hover {
    background-color: var(--blue);
}
.intro-text h1{
    font-size: 4rem;
}

.h5847{
    height: 1px;
}
.description-step-box p,
.description-step-box3 p {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
}

.description-step-box p *{
    text-align: justify;
}
.group-Informatics-step-box p,
.description-step-box2 p {
    max-height: 320px;
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
}

.tabs{
    min-height: 300px;
}
.tabs .steps-card .steps-box .steps-items.active *{
    color: var(--bs-info) !important;
    font-size: 28px !important;
    white-space: nowrap;
}
.tabs .steps-card .steps-box .steps-items .steps-content{
    border-bottom: 1px solid var(--bs-info) ;
    transition: 0.2s;
}
.tabs .steps-card .steps-box .steps-items .steps-content:hover {
    padding-right: 8px;
}
#intro .img-bg{
    inset: 0;
}
#intro .bg-opacity {
    background-color:#1277d07a;
    inset: 0;
    position: absolute;
    height: 100%;
}
#intro .bg-opacity-gradient {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(122, 126, 128, 0.5),#0188bb);
    inset: 0;
    position: absolute;
    height: 100%;
}
  
.h451898.bg-blue900{
    padding-right:15%;
}
.h451898{
    clip-path: polygon(0% 0%, 85% 0%, 100% 25%, 100% 100%, 15% 100%, 0% 75%);
    height: 82%;
    
}
.min250{
    min-height: 250px;
}

/* end informatics */
@media (max-width: 768px) {
    #intro {
            padding-block: 30%;
        }
    body .description-step-box p, body .description-step-box3 p {
        column-count: 1;
        max-height: max-content;
    }
    
    .links-box .link-box {
        width: 140px;
        height: 140px;
        transition: 0.2s;
    }

        .intro-text h1{
            font-size: 3rem;
        }
                .links-box .link-box * {
                    font-size: 1.2rem;
                }
}
